.bac{
    background-image: url("sky2.jpg");
    background-size: 100%;
    height: 10%;
    width: 100%;
    background-position: center;
    color: white;
    font-weight: bold;
    justify-content: center;
    text-align: left;
    
}
.row1{
    text-indent: 20px; 
    display: flex;
}
.row1 span{
    text-align: right;
    align-content: right;
    
    
}
.row1 ul  {
display: flex;
margin-right: 5px;
}
.row1 li {
    list-style: none;
    margin-right: 5px;
    text-align: right;
    font-size: 10px;


}
ul{
    text-align: right;
}