*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
};

body{
    display: flex;
align-items: center;
justify-content: center;
height: 100vh;


}

.container{
    width: 70%;
    border-radius: 5%;
    background:rgba(315, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0 55px 50px rgba(0, 0, 0);

}




.very-top{
    background-color: black;
    color: white;
    height: 10vh;
    width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 30rem;
    align-items:center;
}
h1{
    text-align: center;
    text-decoration: underline;
}



.top1{
    padding-top: 4pt;
}
.top2{
    padding-left: 50pt;
  
    align-items: center;
    padding-top: 4pt;
}
.top3{
    padding-left: 50pt;
    padding-top: 4pt;
}
.top4{
    padding-left: 50pt;
    padding-top: 4pt;

}
.top5{
    padding-left: 50pt;
}
.very-top-cent {
display: flex;
justify-content: center;
margin: 0;
}
label:hover{
    border:2pt solid purple;
    transform:rotate(-30deg);
}